<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="JustServerLogEntities" connectionString="metadata=res://*/JustServerLog.csdl|res://*/JustServerLog.ssdl|res://*/JustServerLog.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MAKSIM-HP\SQLFULL;Initial Catalog=JustServerLog;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>